@import "./utils/vars";
@import "./base/reset";
@import "./base/comon";
@import "./utils/hidden";
@import "./utils/mixin";
@import "./components/container";
@import "./layouts/header"; 
@import "./layouts/hero";
@import "./layouts/after-hero";
@import "./layouts/sec-container";
@import "./layouts/team";
@import "./layouts/const-client";
@import "./layouts/footer";
@import "./layouts/portfolio";
@import "./components/modal";
