.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
}

.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    background-color: var(--title-btn-color);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
    .backdrop.is-hidden & {
            transform: translate(-50%, -50%) scale(0);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}
.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--title-btn-color);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover,
    &:focus {
            fill: #2196F3;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-title {
    @include font (700,20px,1.15,0.03em);
    text-align: center;
    color: var(--title-h2-3-color);
    margin-bottom: 2px;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    &:focus {
            outline-color: #2196F3;
        }
}
.name-input {
    @include font (null, 12px, 1.17, 0.01em);
    color: var(--main-text-color);
    display: block;
    margin-bottom: 4px;
    margin-top: 10px;
}

.modal-coment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    &:focus {
            outline-color: #2196F3;
        }
    &::placeholder {
        @include font (null, 12px, 1.17, 0.01em);
        color: rgba(117, 117, 117, 0.5);
        }

}
.modal-wrap {
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    .form-input:focus+ & {
            fill: #2196F3;
        }
}

.modal-submit {
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    border-radius: 4px;
    border: 0px;
    @include font (700, 16px, 1.88, 0.06em);
    color: var(--title-btn-color);
}

.text-check {
    @include font (null, 14px, 1.71, 0.03em);
    color: var(--main-text-color);
    display: flex;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.modal-button {
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-check span {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    .input-check:checked+ & {
            background-color: #2196F3;
            border-color: #2196F3;
        }
}
.check-icon {
    fill: transparent;
    .input-check:checked+.text-check & {
            fill: #EEEEEE;
        }
}
.modal-link {
    @include font (null, 14px, 1.71, 0.03em);
    text-decoration-line: underline;
    color: #2196F3;
    margin-left: 3px;
}