.const {
   display: flex; 
flex-wrap: wrap;
    gap: 30px;
}
.const-li {
    @include tablet {
            flex-basis: calc((100% - 60px)/3);
          /*  margin-top: 30px; */
        }
    
        @include desk {
            flex-basis: calc((100% - 150px)/6);
    
        }

    justify-content: center;

}
.const-link {
    width: 210px;
    height: 92px;
    @include desk {width: 170px;}
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
  /*  margin-right: 30px; */
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,&:focus {
        border: 1px solid #2196F3;
        }
}
.const-client {
    padding-top: 60px;
    padding-bottom: 60px;
    @include tablet { padding-top: 60px;
        padding-bottom: 60px; }
    @include desk {padding-top: 94px;
    padding-bottom: 94px;}
   
}

.icon-const-client {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .const-link:hover &,
    .const-link:focus & {
            fill: #2196F3;
        }
}

