.const {
    display: flex;
    align-items: center;
    justify-content: center;
}

.const-link {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 30px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,&:focus {
        border: 1px solid #2196F3;
        }
}
.const-client {
    padding-top: 94px;
    padding-bottom: 94px;

}

.icon-const-client {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .const-link:hover &,
    .const-link:focus & {
            fill: #2196F3;
        }
}

