.footer {
    padding-top: 60px;
    padding-bottom: 60px;
 /*   @include mobile {padding-bottom: 60px;}
    @include tablet {padding-bottom: 60px;} */
    background: #2F303A;
}

.portfolio-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
}

.logo-footer {
    display: block;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: var(--title-btn-color);
}
@include desk  {.logo-footer {
    display: inline-block;
    text-align: right;
} }

.adress-block {
text-align: center;
padding-top: 20px;
/*padding-bottom: 60px; */
@include tablet {margin-left: 60px; /* padding-bottom: 60px; */}
@include desk {
    margin-left: auto;
    text-align: left;
}
}

.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-btn-color);
    background: #2F303A;
    margin-bottom: 8px;
    /* margin-bottom: 9px; */

}

.footer-mail {
    display: block;
}

.footer-mail,
.footer-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background: #2F303A;

}

.footer-mail {
    margin-bottom: 8px;
    /* margin-bottom: 9px; */
}

.port-button {
    padding-top: 60px;
    padding-bottom: 60px;
    @include tablet {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    @include desk {padding-top: 72px;
        padding-bottom: 72px;}
}

.right-big {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-btn-color);
    margin-bottom: 20px;
    text-align: center;

}
.right-big {
   @include desk {
text-align: left;
    } 
}

.footer-tab {
    @include desk {display: flex;}
    @include tablet {display: flex;}
}
.footer-tablet {
    @include tablet {display: flex;
         justify-content: center;}
}

.footer-right {

 /*   padding-left: 70px; 
    padding-bottom: 97px; 
    padding-bottom: 60px; */
    padding-top: 60px;
    gap: 10px;
    @include mobile { padding-top: 60px;
    padding-bottom: 60px;}
    @include tablet {padding-left: 165px; padding-bottom: 120px; padding-top: 0px;}
    @include desk {padding-left: 70px; padding-top: 0px; padding-bottom: 0px; }
}

.footer-soc-icon {
    fill: var(--title-btn-color);
}

.footer-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: #2196F3;
    }
}

.online-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 50px;
    margin-bottom: 20px;
@include mobile {
    width: 450px;
    height: 50px;}
@include desk { width: 358px;
    height: 50px; 
    padding-left: 16px;
    display: inline;}
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    color: var(--title-btn-color);
  /*  padding-left: 16px; */
    &::placeholder {
            font-size: 16px;
            line-height: 1.25px;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
}

.footer-button {
    @include desk {margin-left: 10px;}
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--title-btn-color);
   /* margin-left: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footer-icon {
/*  display: flex;
    align-items: center;
    justify-content: center;*/
    fill: #EEEEEE;
    margin-left: 10px; 
}

.footer-send1 {
    margin-left: auto;
}
.footer-send {
@include desk {display: flex; }
}
.proba {
@include desk  { display: flex;}
}
.online-form {@include desk {margin-right: 12px;}}