.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-h2-3-color);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-top: 4px;
}

.portfolio-button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    :last-child {
            margin-right: 0;
        }
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    /* color: var(--title-h2-3-color); */
    border-radius: 4px;
    border: 0px;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
                &:hover,
                &:focus {
                    color: white;
                    background: #2196F3;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
}

.first-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}

.portfolio-block {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
            background: var(--title-btn-color);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.portfolio-block-wrap {
    position: relative;
    overflow: hidden;
}
.swimm-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    text-align: left;
    letter-spacing: 0.03em;
    color: var(--title-btn-color);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 64px 23px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .portfolio-block:hover & {
            transform: translateY(0);
        }
}

.port-subtitle {

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #EEEEEE;
}